body {
    margin: 0;
    height: 100vh;
    background: white;
    color: black;
    font-family: monospace;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    text-align: left;
  }
  
  /* link states */
  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    color: blue;
  }
  
  a:visited {
    color: red;
  }
  