body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

  .container {
    
    padding: 40px 60px;
    height: 80%;
    width: 80%;
    text-align: center;
    
  }
  
  
  .container div{
    font-size: 1rem;
    margin-bottom: 150px;
    
  }
  
  .container .links {
    display: flex;
    
    flex-direction: column;
    gap: 30px;
  }
  
  
  .container a {
    color: black;
    font-size: 1rem;
    text-decoration: none;
    
    transition: opacity 0.2s ease;
  }
  
  .container a:hover {
    color: red;
  }
  