body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #001933;  
    overflow: hidden;
    position: relative;
  }
  
  .noiseOverlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    filter: url(#noiseFilter);
    opacity: 0.8;
    mix-blend-mode: screen;
    z-index: 4;
  }
  

  .moonRiseColor {
    width: 100vw;
    height: 800px;
    background: linear-gradient(#001933, #003366, #335599, #7799cc, #ffffff);
    filter: blur(90px);
    position: absolute;
    bottom: 0;
    transform-origin: center;
    animation: moonSky 3s forwards;
  }

  .moonCircle {
    width: 800px;
    height: 800px;
    background: radial-gradient(circle, #ffffff, #cce0ff 90%);
    filter: blur(20px);
    border-radius: 50%;
    box-shadow: 0 0 40px #cce0ff;
    position: absolute;
    bottom: -200%;
    transform-origin: bottom;
    animation: moonRise 3.9s forwards;
  }
  .menuInfo {
    position: absolute;    
    color: white;
    font-size: 0.8rem;  
    line-height: 1.2;
    pointer-events: none;  
    z-index: 10;
  }
  
  
  .menuInfo.left {
    top: 10px;             
    left: 10px;
    text-align: left;
  }
  
  
  .menuInfo.right {
    top: 10px;             
    right: 10px;
    text-align: right;
  }
 
  .menuContainer {
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    z-index: 5;
}


  
  .dayMenuFront {
    width: 450px;
    height: 700px;
    background: white;
    transform-origin: center;
    transition: transform 0.4s ease;
  }
  
  .dayMenuBack {
    width: 450px;
    height: 700px;
    background-color: #CBEE1C;
    position: relative;
    transition: transform 0.4s ease, background-color 0.4s ease; 
}

  .dayMenuFront:hover {
    transform: scale(1.05);
    z-index: 6;
  }
  .dayMenuBack:hover {
    transform: scale(1.05);
    z-index: 6;
    background-color: #eebd1c;
  }

  #timerTilCoffee {
    position: absolute;
    top: 40%;             
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: black;
    pointer-events: none;
    z-index: 10;
}
#countdownWords {
  position: absolute;
  top: 58%;              
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: black;
  pointer-events: none;
  z-index: 10;
}


  @keyframes moonRise {
    0% {
      bottom: -200%;
      transform: scale(1);
      opacity: 0.2;
    }
    100% {
      bottom: 40%;
      transform: scale(1.5);
    }
  }
  
  @keyframes moonSky {
    0% {
      bottom: -90%;
      opacity: 0.1;
    }
    100% {
      bottom: 40%;
      transform: scale(1.5);
    }
  }
  