a {
    color:cornflowerblue; 
  }

  a:visited {
    color: palevioletred; 
  }

  ul {
    list-style-type: none;
  
  }


h1{
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    text-align: center;
}




h2{
    font-size: 40px;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}


body{
    font-family: "Noto Sans", sans-serif;
    font-size: 17px;
  font-weight: weight;
  font-style: normal;
}

b{
    font-size: 30px;
    font-family: "Micro 5", sans-serif;
    font-weight: 420;
    font-style: normal;
}

.page-nav {
    font-size: 40px;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.wrapper{
    margin: 100px auto;
    width: 700px;
}

.quote-wrapper{
    margin: 10px auto;
    width: 500px;
}


.dropdown-content {
    position: fixed;    
    top: 40%;
    padding: 50px;
                
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    text-align: center;
  }