
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #0a99ff;
    
  
    overflow: hidden;
    position: relative;
    
  }
 
  .noiseOverlay {
    position: absolute;
    inset: 0; 
    pointer-events: none; 
    filter: url(#noiseFilter);
    opacity: 0.95; 
    mix-blend-mode: screen;
    z-index: 4; 
  }
  
  
  .sunSetColor{
    width: 100vw;
    height: 800px;
    background: linear-gradient(#ff5100, #ffea07 ,#ffea07 ,#fff04f, #0a99ff);
    filter: blur(80px);
    
    position: absolute;
    
    transform-origin: center;
    animation: sunsetSky 3s forwards;
  }

  .sunCircle{
    width: 800px;
    height: 800px;
   
    background: radial-gradient(circle, #ff9900, #ff3c00 90%);
    filter: blur(20px);
    border-radius: 50%;        
    box-shadow: 0 0 20px #ff4400;
    position: absolute;
    
    transform-origin: top;
    animation: sunset 3.9s forwards;
  }
  

.menuInfo {
  position: absolute;    
  color: white;
  font-size: 0.8rem;  
  line-height: 1.2;
  pointer-events: none;  
  z-index: 10;
}


.menuInfo.left {
  top: 10px;             
  left: 10px;
  text-align: left;
}


.menuInfo.right {
  top: 10px;             
  right: 10px;
  text-align: right;
}


  .menuContainer {
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    z-index: 5;
  }
  
  
 
  .dayMenuFront{
  width: 450px;
  height: 700px;
  transform-origin: center;
  transition: transform 0.4s ease;
  background: white;
}
.dayMenuBack {
  width: 450px;
  height: 700px;
  background: #CBEE1C;
  position: relative; 
  transition: transform 0.4s ease, background-color 0.4s ease; 
}





  

#timerTilBar {
  position: absolute;
  top: 40%;         
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: black;
  pointer-events: none;
  z-index: 10;
}

#countdownWords {
  position: absolute;
  top: 58%;        
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: black;
  pointer-events: none;
  z-index: 10;
}


  
  
.dayMenuFront:hover {
  transform:
   
    scale(1.05);
    z-index: 6;
}

.dayMenuBack:hover {
  transform:
   
    scale(1.05);
    z-index: 6;
    background-color: #eebd1c;
}

  
  @keyframes sunset {
    0% {
      top: -140%;
      opacity: 8%;
    }

    100% {
      top: 60%; 
      scale: 1.5;
      
    }
}
@keyframes sunsetSky {
    0% {
      top: -90%;
      opacity: 10%;
    }
    100% {
      top: 60%; 
      scale: 1.5;
      
    }
}