
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #0a99ff;
    
  
    overflow: hidden;
    position: relative;
    
  }
 
  .noiseOverlay {
    position: absolute;
    inset: 0; 
    pointer-events: none; 
    filter: url(#noiseFilter);
    opacity: 0.95; 
    mix-blend-mode: screen;
    z-index: 4; 
  }
  
  
  .sunSetColor{
    width: 100vw;
    height: 800px;
    background: linear-gradient(#ff5100, #ffea07 ,#ffea07 ,#fff04f, #0a99ff);
    filter: blur(80px);
    
    position: absolute;
    
    transform-origin: center;
    animation: sunsetSky 3s forwards;
  }

  .sunCircle{
    width: 800px;
    height: 800px;
   
    background: radial-gradient(circle, #ff9900, #ff3c00 90%);
    filter: blur(20px);
    border-radius: 50%;        
    box-shadow: 0 0 20px #ff4400;
    position: absolute;
    
    transform-origin: top;
    animation: sunset 3.9s forwards;
  }
  

.menuInfo {
  position: absolute;    
  color: white;
  font-family: "Cantarell", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 0.65rem;  
  line-height: 1.2;
  pointer-events: none;  
  z-index: 10;
}


.menuInfo.left {
  top: 10px;             
  left: 10px;
  text-align: left;
}


.menuInfo.right {
  top: 10px;             
  right: 10px;
  text-align: right;
}


  .menuContainer {
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    z-index: 5;
  }
  .menuInfo.liveClock {
    top: 50px;
    left: 10px;
    
    font-size: 0.7rem;
    text-align: left;
}

  
 
  .dayMenuFront{
    width: 580px;
    height: 700px;
    background-image: url("../images/cafe2.jpg");
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;  
    transform-origin: center;
    transition: transform 0.4s ease;
}
.dayMenuBack {
  width: 580px;
  height: 700px;
  background-image: url("../images/back2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: transform 0.4s ease;
}





  



#countdownWords {
  position: absolute;
  top: 50%;        
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-family: "Cantarell", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 1rem;  
  text-align: center;
  color: black;
  pointer-events: none;
  z-index: 10;
}


  
  
.dayMenuFront:hover {
  transform:
   
    scale(1.05);
    z-index: 6;
}

.dayMenuBack:hover {
  transform:
   
    scale(1.05);
    z-index: 6;
    box-shadow: 0 0 10px 3px #efff86;
}

  
  @keyframes sunset {
    0% {
      top: -140%;
      opacity: 8%;
    }

    100% {
      top: 60%; 
      scale: 1.5;
      
    }
}
@keyframes sunsetSky {
    0% {
      top: -90%;
      opacity: 10%;
    }
    100% {
      top: 60%; 
      scale: 1.5;
      
    }
}